@import "../assets/styles/global.scss";
.content {
  padding: 110px 0 0 0;
  margin-left: 6rem;
  width: 100%;

  @media screen and (max-width: 768px) {
    margin-left: 0;
    padding: 100px 30px;
  }
}
